#inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* mobile device responsive start */
@media screen and (max-width:576px) {
  /* navbar responsive */
  .nav-container {
    justify-content: space-around;
    gap: 0px;
    padding: 10px 0px;
    align-items:center ;
  }
  .nav-title {
    font-size: 2rem;
    
  }
  .nav-container > ul > li {
    display: none;
  }
  #nav-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  /* hero banner responsive */
  .hero-container {
    padding: 20px;
    background-size:100% 100% ;
  }
  .image-container {
    margin-top: 80px;
  }
  .image-one {
    height: 50%;
    width: 50%;
  }
  .image-two {
    height: 50%;
  }
  #new {
    padding: 5px 12px;
    font-size: .75rem;
    left: 61%;
    top: 4%;
  }
  .hero-title {
    font-size:2.5rem;

  }
  .hero-sub-title {
    text-align: center;
  }
  .btn {
    padding: 12px 12px;
  }

  /* about section responsive */
  .mixed-container {
     padding-bottom: 50px;
  }
  .about-title {
    font-size: 2rem;
  }
  .about-sub-title {
    padding: 0px 10px;
  }
  .about-describe {
    padding: 0px 10px;
  }
  
  
  .hrz{
    
    width: 100%;
    margin: 40px;
  }
  
  
  .about-card-container {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .about-card {
    width:100%;
  }
  /* why section responsive */
  .why-section {
    padding: 60px 0px;
  }
  .why-card-container {
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 273px);
  }
  .one-layout {
    padding: 40px 40px;
    margin-left: 25px;
  }
  .two-layout {
    padding: 40px 40px;
    margin: 0px 25px;
  }
  .three-layout {
    padding: 40px 40px;
    margin:0px 25px;
  }
  .four-layout {
    padding: 40px 40px;
    margin:0px 25px;
  }
  .five-layout {
    margin-left: 25px;
  }
  /* feature section responsive  */
  .feature-section {
    padding: 60px 0px;
  }
  .card-container {
    display:grid ;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 40px;
    padding: 0px 20px;
  }
  .card {
    width: 100%;
    
  }
  .container {
    padding: 0px 20px;
  }
  .feature-title {
    font-size: 32px;
  }
  .meet-title {
    font-size: 32px;
  }
  .main-container {
    flex-direction: column;
    align-items: center;
    
  }
  .write-container {
    justify-content: center;
    align-items: center;
  }
  .write-describe {
    text-align: center;
    width: 300px ;
  }
  /* footer section */
  .footer-title{
    
    font-size: 2.25rem;
    
    padding-top: 55px;
    padding-bottom: 35px;
  }
  .footer-container {
    background: url(/assets/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
  }
  .icon-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0px auto;
    padding-bottom: 32px;
  }
  
  
   
}


/* mobile device responsive end */
/* medium device responsive start */
@media screen and (min-width:577px) and (max-width:992px) {
   .nav-container {
    justify-content: space-around;
    gap: 0px;
    padding: 10px 0px;
    align-items:center ;
  }
  .nav-title {
    font-size: 2.5rem;
    
  }
  .nav-container > ul > li {
    display: block;
  }
  #nav-btn {
    display: block;
  }
  .hamburger {
    display: none;
  }
  /* hero banner responsive */
  .hero-container {
    padding: 20px;
    background-size:100% 100% ;
  }
  .image-container {
    margin-top: 40px;
  }
  .image-one {
    height: 50%;
    width: 50%;
  }
  .image-two {
    height: 50%;
  }
  #new {
    /* padding: 5px 12px;
    font-size: .75rem; */
    left: 61%;
    top: 4%;
  }
  .hero-title {
    font-size:3rem;

  }
  .hero-sub-title {
    text-align: center;
  }
   /*about section responsive  */
  .mixed-container {
     padding-bottom: 80px;
  }
   
  .about-title {
    font-size: 2rem;
  }
  .about-sub-title {
    padding: 0px 10px;
  }
  .about-describe {
    padding: 0px 10px;
  }
  
  
  .hrz{
    
    width: 100%;
    margin: 40px;
  }
  
  
  .about-card-container {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
  .about-card {
    width:100%;
  }
  /* why section responsive */
  .why-card-container {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 273px);
  }
  .one-layout {
    padding: 40px 40px;
    margin-left: 25px;
  }
  .two-layout {
    padding: 40px 40px;
    margin: 0px 25px;
  }
  .three-layout {
    padding: 40px 40px;
    margin:0px 25px;
  }
  .four-layout {
    padding: 40px 40px;
    margin:0px 25px;
  }
  .five-layout {
    margin-left: 25px;
  }
  /* feature section responsive  */
  .card-container {
    display:grid ;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 40px;
    padding: 0px 20px;
  }
  .card {
    width: 100%;
    
  }
  .container {
    padding: 0px 20px;
  }
  
  .one-container {
    margin-left: 20px;
  }
  .main-container {
    flex-direction: column;
    align-items: center;
    
  }
  .write-container {
    justify-content: center;
    align-items: center;
    
  }
  .write-describe {
    width: 500px; 
    text-align: center;
  }
  /* footer section responsive */
  .footer-title{
    
    font-size: 3.25rem;
    
    padding-top: 70px;
    padding-bottom: 35px;
  }
  .footer-container {
    background: url(/assets/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
  }
  .icon-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0px auto;
    padding-bottom: 32px;
  }
  
  
}
/* medium device responsive end */
/* large device responsive start */
@media screen and (min-width:993px) and (max-width:1600px) {
    /* navbar responsive */
    .hero-container {
    background-size:100% 100% ;
  }
}
/* large device responsive end */
