#inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0px;
    padding: 0px;
}

/* mobile device responsive start */
@media screen and (max-width:576px) {
    
}
/* mobile device responsive end */
/* medium device responsive start */
@media screen and (min-width:577px) and (max-width:992px) {
    
}
/* medium device responsive end */
/* large device responsive start */
@media screen and (min-width:993px) and (max-width:1600px) {
    
}
/* large device responsive end */
