#inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    
    max-width: 1600px;
    border: 1px solid black;
    margin: 0px auto;

}
/* nav-bar scetion start */
.nav-container{
    background-color: #1A0B2E;
    display: flex;
    align-items: center;
    gap: 314px;
    justify-content: center;
    padding: 24px 0px;
}
.nav-title{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
}
#nav-title-customize{
    background: linear-gradient(to right top ,rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
    
}
.nav-container > ul > li {
    list-style: none;
    
}
.nav-container > ul > li > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
}
.nav-container > .list-container {
    display: flex;
    gap: 32px;
}
#nav-btn {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    background-color: red;
    border-radius: 100px;
    background: linear-gradient(20deg ,#F7E93F 15%, #FB09B4 51%, #9100F8 100%);
    border: none;
    

}
.hero-container {
    background: url(../assets/hero-bg.png)
}
/* nav-bar section end  */
/* border: 1px solid rgba(0, 0, 0, 1); */